/* line 18, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
* {
  margin: 0px;
  box-sizing: border-box;
}

/* line 23, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
ul {
  list-style: none;
}

/* line 27, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 30, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
a:hover {
  color: #fff;
}

/* line 35, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
body {
  font-family: 'Montserrat', sans-serif;
}

/* line 40, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 0;
  max-width: 1200px;
}

/*Header y navegacion*/
/* line 51, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.carousel-item {
  height: 100vh;
  min-height: 300px;
}

/* line 55, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.carousel-caption {
  bottom: 220px;
}

/* line 58, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: 'Montserrat' sans-serif;
  font-weight: 800;
  font-style: italic;
}

/* line 67, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
  font-family: 'Roboto' sans-serif;
}

/* line 75, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.carousel-caption a {
  text-transform: uppercase;
  background: #262626;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
}

/* line 83, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.navbar-nav a {
  font-family: 'Roboto';
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 89, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

/* line 96, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

/* line 99, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

/* line 102, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.navbar-nav {
  text-align: center;
}

/* line 105, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.nav-link {
  padding: .2rem 1rem;
}

/* line 108, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.nav-link.active, .nav-link:focus {
  color: #fff;
}

/* line 111, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: #fff;
}

/* line 117, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}

/* line 120, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.w-100 {
  height: 100vh;
}

/* line 124, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.headerphoto {
  object-fit: cover;
}

/* line 128, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.wave {
  position: relative;
}

/* line 132, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.custom-shape-divider-bottom-1628567019 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

/* line 141, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.custom-shape-divider-bottom-1628567019 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 73px;
}

/* line 148, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.custom-shape-divider-bottom-1628567019 .shape-fill {
  fill: #FFFFFF;
}

@media only screen and (max-width: 767px) {
  /* line 153, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
  .navbar-nav.ml-auto {
    background: rgba(0, 0, 0, 0.5);
  }
  /* line 156, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
  .navbar-nav a {
    font-size: 14px;
    font-weight: normal;
  }
}

/* line 164, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
h1 {
  font-family: 'Montserrat' sans-serif;
  font-style: italic;
  font-weight: 800;
  margin-top: 20vh;
}

/* line 172, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.button {
  margin: 10%;
  text-align: center;
}

/* line 175, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.button a {
  color: #fff;
  text-decoration: none;
  padding: 4px;
  cursor: pointer;
}

/* line 183, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 202, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 210, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.btn-hover:focus {
  outline: none;
}

/* line 214, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.btn-hover.color-1 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

/* line 220, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.presentacion {
  padding-top: 0;
  text-align: center;
}

/* line 223, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.presentacion h2 {
  font-family: 'Raleway' sans-serif;
}

/* line 227, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.presentation {
  padding-top: 0;
  text-align: center;
}

/* line 232, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.presentationPicture {
  width: 300x;
  height: 300px;
  margin-bottom: 10px;
}

/* line 239, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.presentationCopy {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 25px;
}

/* line 246, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.presentationBoton {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 50px;
  margin: 5px;
  line-height: 10px;
  padding: 15px;
}

/* seccion about*/
/* line 264, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.about {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  justify-items: center;
  align-items: center;
}

/* line 274, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.aboutTexts {
  font-size: 20px;
  font-family: 'Montserrat' sans-serif;
}

/* line 279, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.subtitle {
  font-family: 'Montserrat' sans-serif;
  color: #833ab4;
  font-weight: bolder;
}

/* line 285, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.aboutImg {
  text-align: center;
}

/* line 287, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.aboutImg:hover {
  filter: opacity(0.5);
}

/* line 292, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.aboutPicture {
  max-width: 80%;
}

/* line 297, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.aboutParagraph {
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 300;
}

/*tarjetas*/
/* line 306, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.card {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 7px;
  padding: 0;
  color: white;
}

/* line 317, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.tarjetas {
  padding-top: 0;
}

/* line 322, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.info {
  font-size: 15px;
  font-family: 'Roboto' sans-serif;
  color: #fff;
  text-align: center;
}

/* seccion submit */
/* line 333, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.get-in-touch {
  max-width: 700px;
  margin: 50px auto;
  position: relative;
  box-shadow: 0px 10px 30px 0px rgba(116, 79, 168, 0.75);
  padding: 30px;
}

/* line 341, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.get-in-touch .subtitle {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 48px;
  padding-bottom: 20px;
  color: #5543ca;
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 354, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

/* line 361, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

/* line 372, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}

/* line 376, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.contact-form .input-text:focus {
  outline: none;
}

/* line 381, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  text-transform: capitalize;
  transition: transform 0.2s ease-in-out;
}

/* line 395, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.contact-form .submit-btn {
  display: block;
  background-image: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}

/* seccion galeria */
/* line 412, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.item:hover {
  filter: brightness(80%);
}

/* line 416, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.projectsImg:hover {
  transform: scale(1.5);
}

/* line 421, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.projectsItems:nth-of-type(1) {
  grid-area: gym1;
}

/* line 425, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.projectsItems:nth-of-type(2) {
  grid-area: gym2;
}

/* line 429, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.projectsItems:nth-of-type(3) {
  grid-area: gym3;
}

/* line 433, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.projectsItems:nth-of-type(4) {
  grid-area: gym4;
}

/* line 437, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.projectsItems:nth-of-type(5) {
  grid-area: gym5;
}

/*testimonios de usuarios*/
/* line 443, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.testimonyGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* line 451, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.testimonyItem {
  width: 95%;
  margin: 0 auto;
  background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 7px;
  padding: 30px 25px;
  color: white;
  margin-bottom: 50px;
}

/* line 463, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.testimonyperson {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* line 471, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.testimonyImg {
  width: 100px;
  min-width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 50px;
  border: 3px solid white;
  margin-right: 30px;
}

/* line 482, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.testimonyName {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* line 487, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.testimonyVerification {
  color: #6b5288;
  font-weight: bold;
}

/* line 492, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.testimonyReview {
  font-weight: lighter;
}

/* line 497, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

/* line 504, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.card {
  background-color: #cccccc;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}

/* line 515, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.card__img {
  width: 300px;
  height: 180px;
  margin-right: 30px;
}

/* line 522, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.card__titulo {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* line 528, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.card__parrafo {
  line-height: 28px;
  font-size: 1rem;
}

/* line 533, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.boton {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 50px;
  margin: 5px;
  line-height: 10px;
  padding: 15px;
}

/*tarjetas de precios*/
/* line 546, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.planes {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* line 551, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.card--planes {
  /* width: 300px;
    position: relative;
    border-radius: 15px;
     */
  cursor: pointer;
  background: #eee;
  color: #555555fa;
  height: 400px;
  margin: none;
  transition: all ease-in-out 1s;
}

/* line 562, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.card--planes:hover {
  box-shadow: 0 0 0 20em inset #5555fa;
  color: #eee;
}

/* line 568, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.title {
  font-family: 'Montserrat' sans-serif;
  font-size: 30px;
  padding: 2px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
  color: #833ab4;
}

/* line 579, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.price {
  margin-top: -25px;
  text-align: center;
}

/* line 582, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.price h5 {
  font-size: 4em;
  margin-top: 20px;
  padding: 20px;
}

/* line 586, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.price h5 sup {
  font-size: 25px;
}

/* line 589, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.price h5 p {
  margin-top: -135px;
  font-size: 12px;
  padding-bottom: 25px;
}

/* line 599, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.option {
  position: relative;
  padding: 10px;
}

/* line 602, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.option li {
  text-align: center;
  font-size: 12px;
  padding: 8px;
  font-weight: bold;
  list-style: none;
}

/* line 611, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.button1 {
  position: absolute;
  bottom: 5%;
  left: 40%;
  outline: none;
  border: none;
  background: #5555fa;
  color: #eee;
  width: 100px;
  height: 30px;
  border-radius: 25px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in-out;
  box-shadow: 0 0 8PX #0909E6;
}

/* line 627, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.button1:hover {
  background: #eee;
  color: #5555fa;
}

/*footer*/
/* line 635, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.footerGeneral {
  background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

/* line 641, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.footerIcons {
  display: flex;
  justify-content: space-evenly;
}

/* line 647, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.footerIcon {
  color: #000;
}

/* line 649, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.footerIcon:hover {
  color: #833ab4;
}

/* line 656, ../../../../../../../../../../../../../Users/micaelasola/Desktop/Entrega Final Coder House/entregafinalCH/sass/styles.scss */
.footerContainerIcons {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: black;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */